/**
 * @Autor: Isaak Malik, Michal Mytkowski
 * @Team: Team29
 * @Date: 25/10/2015
 * @Project: KroegenTocht
 * @Purpose: De JavaFX GUI CSS
 */
.root {
-fx-background-image: url("resources/Beer-Pattern-1.jpg");
-fx-background-size: 400px 450px;
}

.label {
-fx-font-size: 12px;
-fx-font-weight: bold;
-fx-text-fill: #333333;
-fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5) , 0,0,0,1);
    -fx-background-color: white;

}

#drinkButton{
    -fx-background-color: lawngreen;
    -fx-font-size: 14px;

}

#labels-cafebezoek{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.vbox {

    -fx-background-color: azure;
    -fx-padding: 25px 25px 25px 25px ;

}

#welkomTekst, #cafe-naam{
-fx-padding: 10px;
-fx-text-fill: #FD784C;
-fx-font-size: 25px;
-fx-stroke: black;
-fx-stroke-width: 1px;
    -fx-border-color: black;
    -fx-border-style: solid;
}



#statsLabel {
-fx-text-fill: crimson;
}


.button {
-fx-background-color: crimson;
-fx-font-size: 13px;
-fx-border-radius: 4px;
-fx-effect: dropshadow(three-pass-box, crimson, 5, 0.0, 0, 1);
-fx-min-width: 100%;
-fx-alignment: center;
}

.button:hover {
-fx-background-color: linear-gradient(#FF134B,#FD784C);
}